ul.tabs__labels {
  font-size: 25px;
  font-family: "Economica", sans-serif;
  list-style-type: none;
  margin-block-end: 0px;
  padding: 2px 0;
  margin-left: 0;
  height: 30px;
  max-width: 800px;
  border-bottom: solid 1px #565254;
  color: #565254;
}

ul.tabs__labels li {
  list-style: none;
  margin: 0;
  display: inline;
}

ul.tabs__labels li a {
  color: #7a7d7d;
  text-decoration: none;
  display: inline;
  margin-left: 3px;
  border: 1px solid #7a7d7d;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: none;
  padding: 3px 0.5em;
  background-color: #fffbfe;
}

ul.tabs__labels li a.active {
  border: solid 1px #565254;
  border-bottom: 1px solid #fffbfe;
  cursor: default;
  color: #565254;
}

ul.tabs__labels li a.active:hover {
  border: solid 1px #565254;
  border-bottom: 1px solid #fffbfe;
  color: #565254;
}

ul.tabs__labels li a:hover {
  border: 1px solid #333745;
  color: #333745;
  border-bottom: none;
}

.tabs__content {
  max-width: 750px;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #565254;
  border: solid 1px #565254;
  border-top: none;
  padding: 30px;
  background-color: #fffbfe;
}

.text p:first-of-type {
  margin-block-start: 0em;
}

.text div {
  margin-block-start: 1em;
}

ul.techs {
  margin: 0;
}

#header {
  display: flex;
  flex-wrap: wrap;
}

#portrait {
  height: 250px;
  width: 250px;
}

#topright {
  margin-left: 20px;
}

#headerText {
  font-size: 50px;
  font-family: "Unica One", cursive;
  width: 475px;
  margin-block-start: 3.2em;
  margin-block-end: 0em;
  color: #565254;
}

em {
  font-size: 20px;
  font-family: "Economica", sans-serif;
  color: #7a7d7d;
}

#appBody {
  margin: auto;
  max-width: 800px;
}

body {
  background-color: #f1f0ee;
}
